* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0.938em;
}


.row::after {
    content: "";
    clear: both;
    display: block;
}

html{
    font-family: 'Roboto', sans-serif;
}

.btn {
    -webkit-border-radius: 0.438em;
    -moz-border-radius: 0.438em;
    border-radius: 0.438em;
    color: #ffffff;
    font-size: 1.25em;
    font-weight: 400;
    background: #222;
    border: solid #ffffff 0.188em;
    padding: 0.75em 2em 0.75em 2em;
    text-decoration: none;
    cursor:pointer;
    transition: background 0.25s;
}

.btn:hover {
    background: #333;
    text-decoration: none;
}

#head-container{
    background-image: url('../images/head.jpg');
    height: 28.125em;
}

.img-wrap{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
}

.parallax-img{
    background-attachment: fixed;
}

#head{
    align-self: center;
    text-align: center;
}

#head *{
    margin: 0.625em;
}

hr{
    width:5em;
    color:#ee7355;
    height: 0.45em;
    background-color:#ee7355;
    border:none;
    margin:20px 0;
}

a,a:visited{
    color:#EE7355;
    text-decoration: none;
}

a:hover, a:focus{
    text-decoration:underline dotted;
    
}

h1{
    color:white;
    font-size: 4em;
}

h3{
    color:white;
    font-size:2em;
}

h2.info-head{
    font-size: 4em;
}

p#tagline{
    font-weight: 300;
    color:white;
}


.loc{
    text-align: center;
}

.info{
    max-width: 1200px;
    margin: auto;
    padding: 5em 0em;
}

.info p{
    font-size: 1.1em;
}

.info img{
    max-width:100%;
}

.info-cont{
    /*padding-right: 6.25em;*/
}

.sect{
    /*margin-bottom: 5em;*/
}

.blk-tint{
    padding: 5em 15em 5em 2em;
    background-color: rgba(0,0,0,0.7);
}

.meetings h2{
    font-size: 2.5em;
}

.meetings h3{
    color:black;
    font-size: 2em;
}

.loc h3#mtg{
    margin-top: 3em;
}

.loc p#addr{
    padding: 1em;
}

#dept-days{
    text-align: left;
    margin-top: 0.1em;
    margin-bottom: 2.75em;
}


.dept p{
    font-size: 1.1em;
    color:white;
    text-indent: 2em;
}

#sci-wrap{
    background-image: url("../images/science1.jpg");
    background-position: 5em; 
}

#sci-wrap h3{
    color: #41ad4a;
}

#sci-wrap > .pillar, #sci-wrap hr{
    background-color: #41ad4a;
}



#tech-wrap{
    background-image: url("../images/tech1.jpg");
    background-position: 2em; 
}

#tech-wrap h3{
    color: #7397cf;
}

#tech-wrap > .pillar, #tech-wrap hr{
    background-color: #7397cf;
}



#egr-wrap{
    background-image: url('../images/egr.jpg');
    background-position: 2em; 
}

#egr-wrap h3{
    color: #df5126;
}

#egr-wrap > .pillar, #egr-wrap hr{
    background-color: #df5126;
}



#math-wrap{
    background-image: url('../images/math.jpg');
    background-position: 2em; 
}

#math-wrap h3{
    color: #ebae1e;
}

#math-wrap > .pillar, #math-wrap hr{
    background-color: #ebae1e;
}


#join{
    background-color: #222;
    color:#fff;
    height: 8em;
    display: flex;
    justify-content: center;
    transition: background 0.25s;
}

#join:hover{
    background-color: #333;
}

#join h1{
    font-weight: 300;
    font-size: 3em;
    align-self: center;
}

@media only screen and (max-width: 768px) {
    [class*="col-"]{
        width: 100%;
    }
    [class*="grid-"]{
        width: 100%;   
    }
    .col-1, .col-2, .col-3, .col-4 {
        width: 50%;
        text-align: center;
    }
    .hide-on-mobile{
        display: none; 
    }
    .hide-on-desktop{
        display: block;   
    }
}
@media only screen and (max-width: 492px) {
    .col-1, .col-2, .col-3, .col-4 {width: 100%;}
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 1.5em;
    }
    .form-container input, .form-container textarea{
        width: 100%;
        border-radius: 0px;
    }
    .description-container p{
        font-size: 1.5em;
    }
}

#faq-wrap{
    width:75%;
    background-color: #F2F2F2;
    margin: 5em auto;
    padding: 2em;
}

#faq-wrap h1{
    font-size: 10em;
    color:#a9a9a9;
    text-align: center;
}

#faq-wrap hr{
    width: 75%;
    height:0.15em;
    background-color:#a9a9a9;
    margin:2em auto;
}

.question{
    margin:2em 4em;
}

.question p{
    margin-bottom: 1em;
    font-size: 1.1em;
    cursor: pointer;
}

.answer p{
    padding:0.5em;
    margin-left: 7em;
    border-left: solid 1px #a9a9a9;
    font-weight: 300;
    font-style: italic;
}

.hidden .answer {
    display: none; 
}

.active .answer {
    display: inline; 
}

.question.active > p:before{
    content:"▼ ";
}

.question.hidden > p:before{
    content:"▶ ";
}

#faq-wrap h2{
    margin-top: 2em;
    text-align: center;
}

#faq-wrap p.email{
    font-size: 1.5em;
    text-align: center;
    font-weight: 300;
}